@inherits DisplayMoviesBase
@inject IStringLocalizer<Language> _localizer

@foreach (var movie in Movies)
{
    <div class="fullCard">
        <a href="/MovieDetails/@movie.Id">
            <div class="card">
                <img class="img-thumbnail" src="@movie.ImageURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        <b>@movie.Title</b>
                    </h5>
                    <div class="card-text">
                        <p>@_localizer["Playtime:"] @movie.PlayTime @_localizer["minutes"]</p>
                        <p>@_localizer["Minimum age:"] @movie.MinimumAge</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
}