@inherits DisplayShowsTodayBase
@inject IStringLocalizer<Language> _localizer

@foreach (var show in Shows)
{
    <div class="fullCard">
        <a href="/ShowDetails/@show.Id">
            <div class="card">
                <img class="img-thumbnail" src="@show.MovieImageURL">
                <div class="card-body">
                    <div class="container">
                        <h5 class="card-title">
                            <b>@show.MovieTitle</b>
                        </h5>
                        <div class="date">
                            <p>@show.StartDateTime.ToString("dd-MM-yyyy")</p>
                            <p>@show.StartDateTime.ToString("HH:mm")</p>
                        </div>
                        <p>@_localizer["Playtime:"] @show.MoviePlayTime minutes</p>
                        <p>@_localizer["Hall:"] @show.RoomName</p>
                        <p>
                            @_localizer["Wheelchair friendly:"] @if (show.RoomWheelchairFriendly == true)
                            {
                                <div style="display:inline">@_localizer["Yes"]</div>
                            }
                            else
                            {
                                <div style="display:inline">@_localizer["No"]</div>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
}