@inherits DisplayShowsBase

@foreach (var show in Shows)
{
    <div class=" col-md-3 mb-2">
        <a href="/ShowDetails/@show.Id">
            <div class="card">
                <img class="img-thumbnail" src="@show.MovieImageURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @show.MovieTitle
                    </h5>
                    <p class="card-text">
                        <b>@_localizer["Date:"] @show.StartDateTime.ToString("dd-MM-yyyy")</b>
                        <br>
                        <b>@_localizer["Start time:"] @show.StartDateTime.ToString("HH:mm")</b>
                        <br>
                        <b>@_localizer["Genre:"] @show.MovieGenre</b>
                        <br>
                        <b>@_localizer["Minimum age:"] @show.MovieMinimumAge</b>
                        <br>
                        <b>@_localizer["Playtime:"] @show.MoviePlayTime minutes</b>
                        <br>
                        <b>@_localizer["Hall:"] @show.RoomName - @_localizer["Wheelchair friendly:"] @show.RoomWheelchairFriendly</b>
                        <br>
                        <b>@_localizer["Special:"] @show.MovieSpecial</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}