@page "/MovieDetails/{Id:int}"
@inherits MovieDetailsBase
@inject IStringLocalizer<Language> _localizer

@if (Movie == null && ErrorMessage == null)
{
    <DisplaySpinner/> 
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h1 class="mb-5">Movie Details</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Movie.ImageURL">
        </div>
        <div class="col-md-6">
            <h2>@Movie.Title</h2>
            <p class="mb-4">@Movie.Description_en</p>
            <p class="mb-4">
                <b>
                    @_localizer["Playtime:"] @Movie.PlayTime @_localizer["minutes"]
                    <br>
                    @_localizer["Minimum age:"] @Movie.MinimumAge
                </b>
            </p>
        </div>
    </div>
}