@page "/ShowDetails/{Id:int}"
@inherits Bioscoop.Web.Pages.ShowDetailsBase

@if (Show == null && ErrorMessage == null)
{
    <DisplaySpinner />
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h1 class="mb-5">Show Details</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Show.MovieImageURL">
        </div>
        <div class="col-md-6">
            <h2>@Show.MovieTitle</h2>
            <p class="mb-4">@Show.MovieDescription</p>
            <p class="mb-4">
                <b>
                    <b>Date: @Show.StartDateTime.ToString("MM-dd-yyyy")</b>
                    <br>
                    <b>Start time: @Show.StartDateTime.ToString("HH:mm")</b>
                    <br>
                    <b>Playtime: @Show.MoviePlayTime minutes</b>
                    <br>
                    <b>Minimum age: @Show.MovieMinimumAge</b>
                    <br>
                    <b>Hall: @Show.RoomName - Wheelchair friendly: @Show.RoomWheelchairFriendly</b>
                </b>
            </p>

	        <div> <!-- Button to get a ticket -->
		        <button class="btn btn-success"
		                @onclick ="() => (AddTicket_ForShow(new TicketToAddDto{
                        ShowId = Show.Id,
                        Price = 9
                    }))">
			        <b>Get ticket!</b>
		        </button>
	        </div>
            
	        <div> <!-- Button to get popcorn + ticket -->
		        <button class="btn btn-success"
		                @onclick ="() => (AddTicket_ForShow(new TicketToAddDto{
                        ShowId = Show.Id,
                        Price = 12
                    }))">
			        <b>Get ticket and popcorn!</b>

		        </button>
	        </div>
        </div>
    </div>
}